@model List<MusicCenter.Common.ViewModels.Band.AlbumsPanelViewModel>

<ul class="nav nav-tabs" style="margin-bottom:10px">
    <li role="presentation" class="active"><a href="#">New albums</a></li>
</ul>

@if (Model != null)
{
    foreach (var album in Model)
    {
        <div class="col-sm-2 col-md-4">
        <a href="@Url.Action("Album", "Band", new { AlbumName = album.AlbumName })" style="text-decoration:none">
            <div class="thumbnail">
                <img src="@album.CoverPath" )" alt="...">
                <div class="caption">
                    <h3>@album.AlbumName</h3>
                    <p>@album.ReleaseDate</p>
                    <p>@album.Genres</p>
                </div>
            </div>
        </a>
    </div>
    }
}
else
{
    <h1><small>No albums to show</small></h1>    
}






