@model String

@Styles.Render("~/Content/User/UserPage.css")

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span style="color:white">@Model</span>
        </li>
        <li>
            <a href="@Url.Action("BandProfile", "Band", new {BandName = @Model })">@MusicCenter.Common.Resources.Global.Profile</a>
        </li>
        <li>
            <a href="@Url.Action("BandAlbums", "Band", new { BandName = @Model })">@MusicCenter.Common.Resources.Global.Dicography</a>
        </li>
        <li>
            <a href="@Url.Action("BandConcerts", "Band", new { BandName = @Model })">@MusicCenter.Common.Resources.Global.Concerts</a>
        </li>
        <li id="MsgContainer">        
            @if (Session["band"] != null && Session["band"].ToString() == Model)
            {
                <a href="@Url.Action("BandMessages", "Message")">@MusicCenter.Common.Resources.Global.Messages</a>
            }
            else
            {
                <a href="@Url.Action("SendBandMessage", "Message", new {Recipient = Model })">Napisz wiadomość</a>
            }
        </li>
    </ul>
</div>