@model String

@Styles.Render("~/Content/User/UserPage.css")
@Styles.Render("~/Content/fileinput.min.css")
@Scripts.Render("~/Scripts/fileinput.min.js")
@Scripts.Render("~/Scripts/Layout/BandLayout.js")

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span style="color:white">@Model</span>
        </li>
        <li>
            <a href="@Url.Action("BandProfile", "Band", new {BandName = @Model })">@MusicCenter.Common.Resources.Global.Profile</a>
        </li>
        <li>
            <a href="@Url.Action("BandAlbums", "Band", new { BandName = @Model })">@MusicCenter.Common.Resources.Global.Dicography</a>
        </li>
        <li>
            <a href="@Url.Action("BandConcerts", "Concert", new { BandName = @Model })">@MusicCenter.Common.Resources.Global.Concerts</a>
        </li>
        <li id="MsgContainer">        
            @if (Session["band"] != null && Session["band"].ToString() == Model)
            {
                <a href="@Url.Action("BandMessages", "Message")">@MusicCenter.Common.Resources.Global.Messages</a>
            }
            else if (Session["user"] != null)
            {
                <a href="@Url.Action("SendBandMessage", "Message", new {Recipient = Model })">Napisz wiadomość</a>
            }
        </li>
        <li>
            @if (Session["user"] != null)
            {
                    <input type="button" id="AddBandToFavBtn" data-addtofavurl="@Url.Action("AddBandToFavourites", "Favourites")" data-bandname="@Model" data-user="@Session["user"].ToString()"  data-checkfavurl="@Url.Action("IsUserHaveBandsInFavourites", "Favourites")" class="btn-sm btn-success" value="Add to favourites" />
            }
        </li>
    </ul>
</div>