@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/User/UserPage.css")

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span style="color:white">@Session["band"].ToString()</span>
        </li>
        <li>
            <a href="@Url.Action("BandProfile", "Band")">@MusicCenter.Common.Resources.Global.Profile</a>
        </li>
        <li>
            <a href="@Url.Action("BandMessages", "Message")" id="UserMessages">@MusicCenter.Common.Resources.Global.Messages</a>
        </li>
        <li>
            <a href="@Url.Action("BandDicography", "Band")" id="UserFavourites">@MusicCenter.Common.Resources.Global.Dicography</a>
        </li>
        <li>
            <a href="@Url.Action("BandConcerts", "Band")" id="UserBands">@MusicCenter.Common.Resources.Global.Concerts</a>
        </li>
    </ul>
</div>

<div style="position:relative; left: 50px">@RenderBody()</div>