@using(Html.BeginForm())
{
        <form class="form-inline" style="float:right">
            @Html.ActionLink(Resources.Global.Register, "Register", "Account", null, new { @class = "navbar-brand col-lg-1", @style = "height: 25px; float: right; margin-left: 5px" })
            <button type="submit" class="btn btn-default col-lg-1 text-center" style="margin-top: 10px; height: 25px; float: right; text-align:center">@Resources.Global.SignIn</button>
            <div class="checkbox" style="margin-top: 15px; margin-right: 40px; color: gray; height: 25px; float: right">
                <label>
                    <input type="checkbox"> @Resources.Global.RememberMe
                </label>
            </div> 
            <div class="form-group col-lg-2">
                <input type="email" class="form-control" style="margin-top: 10px; float: right; height:25px" id="exampleInputEmail3" placeholder="@Resources.Global.Email">
            </div>
            <div class="form-group col-lg-2">
                <input type="password" class="form-control" style="margin-top: 10px; float: right; height: 25px" id="exampleInputPassword3" placeholder="@Resources.Global.Password">
            </div>>                
        </form>
}

