@model MusicCenter.Common.ViewModels.User.UserPanelViewModel

<form>
    <ul class="nav navbar-nav navbar-right" style="color: white">
        <li>
            @Model.Email <br/>
            @MusicCenter.Common.Resources.Global.NewMessages @Model.MessagesCount 
        </li>
        <li>
            <img src="@Model.AvatarPath" class="img-circle" width="50" height="50" style="margin-left: 5px">
        </li>
        <li>
            @Html.ActionLink(MusicCenter.Common.Resources.Global.LogOut, "LogOut", "Account", null, new { id = "LogOutUrl" })
        </li>
    </ul>

</form>     

<script>
    $(document).ready(function () {
        $('#LogOutUrl').click(function () {
            sessionStorage['scToken'] = null;
        })
    });
</script>