@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Scripts.Render("~/bundles/zabuto")
    @Scripts.Render("~/Scripts/Concert/CalendarPanel.js")
</head>

<div class="container">
    <div class="row">
            <div class="col-md-6" id="BandsPanel">
                @Html.Action("GetBandsPanel", "Band")
            </div>
            <div class="col-md-6" id="CalendarPanel">
                @Html.Action("GetCalendarPanel", "Concert")
            </div>
    </div>
    <div class="row">
            <div class="col-md-6" id="AlbumsPanel">
                @Html.Action("GetAlbumsPanel", "Band")
            </div>
            <div class="col-md-6" id="SongsPanel">
                @Html.Action("GetSongsPanel", "Band")
            </div>
    </div>
</div>


