@model MusicCenter.Common.ViewModels.User.UserSoundcloudProfileViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/Content/Account/Register.css")
@Scripts.Render("~/Scripts/User/UserProfile.js")

<div class="container text-center">
    <form action="@Url.Action("UserSoundcloudProfile", "User")" method="POST" style="display:inline-block;" id="register-form" novalidate="novalidate" enctype="multipart/form-data">
        <fieldset>
            @Html.HiddenFor(m => m.email)
            <div class="control-group">
                <img src="@Model.Avatar.PathToShow" alt="..." class="img-thumbnail" style="display:block;margin-left:auto;margin-right:auto;" width="200" height="200" id="userAvatar">
                <br />
                <span class="btn btn-primary btn-file">
                    @MusicCenter.Common.Resources.Global.Browse @Html.TextBoxFor(m => m.Avatar.PostedFile, new { type = "file", @id = "avatar" })
                </span>
            </div>
            <br />
            <div class="control-group">
                <label class="control-label" for="firstName">@MusicCenter.Common.Resources.Global.FirstName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstName" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastName">@MusicCenter.Common.Resources.Global.LastName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "lastName" })
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <br />
                    <button id="registerBtn" type="submit" class="btn btn-success">@MusicCenter.Common.Resources.Global.Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

