@model MusicCenter.Common.ViewModels.Band.AddBandViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Styles.Render("~/Content/Account/Register.css")
@Styles.Render("~/Content/themes/base/all.css")
@Scripts.Render("~/Scripts/Band/AddBand.js")
@Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
@Scripts.Render("~/Scripts/jquery.form.js")

<br />
<form id="AddBandForm" action="@Url.Action("AddBand", "Band")" method="post" enctype="multipart/form-data">
    
    <div class="row form-group">
        <div class="col-md-1">
            <img src="~/Content/Uploads/DefaultBandAv.png" alt="..." class="img-circle" style="display:block;margin-left:auto;margin-right:auto;" width="100" height="100" id="bandAvatar">
        </div>
        <div class="col-lg-11">
            <div class="row form-group">
                <div class="col-sm-1">
                    <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Name:</label>
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="col-sm-2">
                    <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.CreateDate:</label>
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.CreationDate, new { @class = "form-control input-sm", id="CreationDate" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Email:</label>
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group" style="margin-top:-20px">
        <div class="col-sm-1">
            <span class="btn btn-primary btn-file">
                @MusicCenter.Common.Resources.Global.Browse @Html.TextBoxFor(m => m.Avatar.PostedFile, new { type = "file", name="Avatar", @class = "input-sm", @id = "avatar" })
            </span>
        </div>
        <div class="col-lg-11">
            <div class="row form-group">
                <div class="col-sm-1">
                    <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.PhoneNumber:</label>
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-sm", name="Phone" })
                </div>
            </div>
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Genres:</label>
        </div>
        <div class="col-sm-11">
            @Html.TextBoxFor(m => m.Genres, new { @class = "form-control input-sm", name="Genres", placeholder = @MusicCenter.Common.Resources.Global.SeparatedByComma })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Musicians:</label>
        </div>
        <div class="col-sm-11">
            <div id="BandMembers">

            </div>
            <input type="button" class="btn btn-default input-sm" value="@MusicCenter.Common.Resources.Global.AddMusician" id="AddBandMemberBtn" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Description:</label>
        </div>
        <div class="col-sm-11">
            @Html.TextAreaFor(m => m.Description, new { style = "width:100%; max-width:none" })
        </div>
    </div>

    <input type="submit" class="btn btn-default pull-right" value="@MusicCenter.Common.Resources.Global.Create" />
</form>
