@model MusicCenter.Common.ViewModels.Band.BandAlbumListViewModel


@Html.Action("RenderBandLayout", "Band", new { BandName = @Model.BandName })
@Scripts.Render("~/Scripts/Band/BandAlbums.js")

<div id="BodyContent" style="margin-left: 50px">
    <ul class="nav nav-tabs" style="margin-bottom:10px">
        <li role="presentation" class="active"><a href="@Url.Action("BandAlbums", "Band", new { BandName = @Model.BandName })">@MusicCenter.Common.Resources.Global.Albums</a></li>
        <li role="presentation"><a href="@Url.Action("BandSingles", "Band", new { BandName = @Model.BandName })">@MusicCenter.Common.Resources.Global.Songs</a></li>
    </ul>

    <div class="row">
        @foreach (var Album in Model.Albums)
        {
            <div class="col-sm-2 col-md-4">
                <a href="@Url.Action("Album", "Band", new {AlbumName = Album.Name })" style="text-decoration:none">
                    <div class="thumbnail">
                        <img src="@Album.Cover.PathToShow" alt="...">
                        <div class="caption">
                            <h3>@Album.Name</h3>
                            <p>@Html.DisplayFor(m => Album.ReleaseDate)</p>
                            <p>
                                @foreach (var genre in Album.Genres)
                                {
                                    @genre <p> </p>
                                }
                            </p>
                        </div>
                    </div>
                </a>
                @if (Session["band"] != null && Session["band"].ToString() == Model.BandName)
                {
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <input type="button" data-url="@Url.Action("UpdateAlbum", "Band", new { AlbumName = @Album.Name})" class="btn btn-default" value="@MusicCenter.Common.Resources.Global.Edit" name="EditAlbumBtn" />
                        </div>
                        <div class="col-sm-2">
                            <input type="button" data-album="@Album.Name" class="btn btn-default" value="@MusicCenter.Common.Resources.Global.Delete" data-toggle="modal" data-target="#confirm-submit" name="DeleteAlbumBtn" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    @if (Session["band"] != null && Session["band"].ToString() == Model.BandName)
    {
        <div class="row pull-right">
            <a href="@Url.Action("AddAlbum", "Band")" class="btn btn-default">@MusicCenter.Common.Resources.Global.AddAlbum</a>
        </div>
    }
    
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @MusicCenter.Common.Resources.Global.Confirm
                </div>
                <div class="modal-body">
                    @MusicCenter.Common.Resources.Global.ConfirmDelete <b><p style="display:inline" id="AlbumName"></p></b> ?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@MusicCenter.Common.Resources.Global.Cancel</button>
                    <button data-url="@Url.Action("DeleteAlbum", "Band")" id="DeleteConfirmBtn" class="btn btn-success success">OK</button>
                </div>
            </div>
        </div>

    </div>