@model MusicCenter.Common.ViewModels.Band.BandSingleListViewModel


@Html.Action("RenderBandLayout", "Band", new { BandName = @Model.BandName });
@Scripts.Render("~/Scripts/Band/BandSingles.js")
<div id="BodyContent" style="margin-left: 50px">
    <ul class="nav nav-tabs" style="margin-bottom:10px">
        <li role="presentation"><a href="@Url.Action("BandAlbums", "Band", new { BandName = @Model.BandName })">Albums</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("BandSingles", "Band", new { BandName = @Model.BandName })">Singles</a></li>
    </ul>

    
        @foreach (var Single in Model.Singles)
        {
            <div class="row">
                <div class="col-sm-10">
                    <div class="thumbnail">
                        <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/@Single.UrlAddress&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=false"></iframe>
                        <div class="caption">
                            <p>Genres: @Single.Genres</p>
                            <p>Release date: @Html.DisplayFor(m => Single.ReleaseDate)</p>
                        </div>
                    </div>
                    @if (Session["band"] != null && Session["band"].ToString() == Model.BandName)
                    {
                        <div class="row form-group">
                            <div class="col-sm-1">
                                <input type="button" data-url="@Url.Action("UpdateSingle", "Band", new { SingleId = @Single.Id})" class="btn btn-default" value="Edit" name="EditSingleBtn" />
                            </div>
                            <div class="col-sm-1">
                                <input type="button" data-singleid="@Single.Id" data-singlename="@Single.Name" class="btn btn-default" value="Delete" data-toggle="modal" data-target="#confirm-submit" name="DeleteSingleBtn" />
                            </div>
                        </div>
                    }
                </div>
                @if (Session["user"] != null)
                {
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-default" data-checkurl="@Url.Action("IsUserHaveSongInFavourites", "Favourites")" data-url="@Url.Action("AddSongToFavourites", "Favourites")" value="Add to favourites" id="@Single.Id" name="AddSongToFavBtn" />
                    </div>
                }     
            </div>
        }
        @if (Session["band"] != null && Session["band"].ToString() == Model.BandName)
        {
            <div class="row pull-right">
                <a href="@Url.Action("AddSingle", "Band")" class="btn btn-default">Add single</a>
            </div>
        }
        
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Submit
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <b><p style="display:inline" id="SingleName"></p></b> ?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button data-url="@Url.Action("DeleteSingle", "Band")" id="DeleteConfirmBtn" class="btn btn-success success">Submit</button>
                </div>
            </div>
        </div>

    </div>

</div>
