@model List<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
        <label>@MusicCenter.Common.Resources.Global.Name</label>
    </div>
    <div class="col-md-2">
        <label>@MusicCenter.Common.Resources.Global.Genres</label>
    </div>
    <div class="col-md-2">
        <label>@MusicCenter.Common.Resources.Global.YearsActive</label>
    </div>
</div>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <form method="post" action="@Url.Action("LogInAsBand", "Account", new { BandName = @item.Name})">
            <div class="row">
                <div class="col-md-2">
                    <img src="@item.Avatar.PathToShow" class="img-circle" width="50" height="50" style="margin-left: 5px">
                </div>
                <div class="col-md-2">
                    @item.Name
                </div>
                <div class="col-md-2">
                    @foreach (var genre in item.Genres)
                    {
                        <div style="display:inline">@genre </div>
                    }
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(m =>item.CreationDate) - @if (item.ResolveDate != null)
                                                              { <div style="display:inline">@Html.DisplayFor(m => item.ResolveDate)</div> }
                                                              else
                                                              { <div style="display:inline">Present</div> }
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default pull-right" value="@MusicCenter.Common.Resources.Global.SignIn" />
                </div>
            </div>
        </form>
    }
}
else
{
    <h1><small>@MusicCenter.Common.Resources.Global.AddBandInfo</small></h1>
}

<a class="btn btn-default pull-right" href="@Url.Action("AddBand", "Band")" role="button">@MusicCenter.Common.Resources.Global.AddBand</a>



