@model MusicCenter.Common.ViewModels.Concert.AddConcertViewModel

@Scripts.Render("~/Scripts/Concert/AddConcert.js")
@Styles.Render("~/Content/Account/Register.css")
@Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
@Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
@Styles.Render("~/Content/datetimepicker.css")
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCkA4CEGdy_2RRIyooD80al_-NCgxr_Tg&libraries=places"></script>

@Html.Action("RenderBandLayout", "Band", new { BandName = @Model.BandName })

<div id="BodyContent" style="margin-left: 50px">
    <ul class="nav nav-tabs" style="margin-bottom:10px">
        <li role="presentation" id="DetailsTab" class="active"><a href="#">@MusicCenter.Common.Resources.Global.Details</a></li>
        <li role="presentation" id="LocalizationTab"><a href="#">@MusicCenter.Common.Resources.Global.Localization</a></li>
    </ul>

    <form id="AddConcertForm" action="@Url.Action("AddConcert", "Concert")" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(m => m.BandName)
        @Html.HiddenFor(m => m.Latitude, new { @id = "Latitude" })
        @Html.HiddenFor(m => m.Longitude, new { @id = "Longitude" })
        <div class="row" id="DetailsPanel">
            <div class="row form-group">
                <div class="col-md-2">
                    <div class="row">
                        <img src="~/Content/Uploads/DefaultConcertAv.jpg" alt="..." class="img-rounded" style="display:block;margin-left:auto;margin-right:auto;" width="150" height="150" id="concertCover">
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-1" style="margin-left:40px">
                            <span class="btn btn-primary btn-file">
                                @MusicCenter.Common.Resources.Global.Browse @Html.TextBoxFor(m => m.Cover.PostedFile, new { type = "file", name = "Cover", @class = "input-sm", @id = "cover" })
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row form-group">
                        <div class="col-sm-1">
                            <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Date:</label>
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.date, new { @class = "form-control input-sm", id = "Date" })
                            @Html.ValidationMessageFor(m => m.date)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1">
                            <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Bands:</label>
                        </div>
                        <div class="col-sm-3">
                            <input id="BandSelect" data-url="@Url.Action("GetAllBandNames", "Band")" placeholder="@MusicCenter.Common.Resources.Global.EnterBandNames" class="form-control"></input>
                            <div id="menu-container" style="position:absolute; z-index: 99999"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-11" id="BandsContainer" data-url="@Url.Action("GetBandDetailsRemovablePartial", "Concert")">
                            <div>
                                @Html.Action("GetBandDetailsPartial", new { BandName = Model.BandName })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-11" style="margin-left: 140px">
                    <div class="col-sm-1">
                        <label class="control-label input-sm">@MusicCenter.Common.Resources.Global.Description:</label>
                    </div>
                    <div class="col-sm-10" style="margin-left:20px">
                        @Html.TextAreaFor(m => m.description, new { @class = "form-control", @style = "max-width:100%", @rows = "5" })
                    </div>
                </div>
            </div>
        </div>
        <div id="LocalizationPanel" style="visibility: hidden; width: 0px; height: 0px">
                @Html.TextBoxFor(m => m.address, new { @placeholder = @MusicCenter.Common.Resources.Global.SearchAddress, @id = "search-input", @class = "form-control" } )
                <div id="map" style="height:400px; width:100%">

                </div>
        </div>          
        <input type="button" id="CreateConcertBtn" class="btn btn-default pull-right" value="@MusicCenter.Common.Resources.Global.Create" />
    </form>
</div>
