@model MusicCenter.Common.ViewModels.Concert.BandConcertListViewModel

@Scripts.Render("~/Scripts/Concert/BandConcerts.js")

@Html.Action("RenderBandLayout", "Band", new { BandName = @Model.BandName })

<div id="BodyContent" style="margin-left: 50px">
    <div class="row">
        @foreach (var Concert in Model.Concerts)
        {
            <div class="col-sm-2 col-md-4">
                <a href="@Url.Action("Concert", "Concert", new {ConcertId = Concert.Id, BandName = Model.BandName })" style="text-decoration:none">
                    <div class="thumbnail">
                        <img src="@Concert.Cover.PathToShow" alt="...">
                        <div class="caption">
                            <p>Concert date: @Html.DisplayFor(m => Concert.date)</p>
                            <p>Address: @Concert.address</p>
                            <p>Interested: @Concert.InterestedCount</p>
                        </div>
                    </div>
                </a>
                @if (Session["band"] != null && Session["band"].ToString() == Concert.ConcertOwner)
                {
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <input type="button" data-url="@Url.Action("UpdateConcert", "Concert", new { ConcertId = @Concert.Id})" class="btn btn-default" value="Edit" name="EditConcertBtn" />
                        </div>
                        <div class="col-sm-2">
                            <input type="button" data-concertid="@Concert.Id" data-address="@Concert.address" class="btn btn-default" value="Delete" data-toggle="modal" data-target="#confirm-submit" name="DeleteConcertBtn" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    @if (Session["band"] != null && Session["band"].ToString() == Model.BandName)
    {
        <div class="row pull-right">
            <a href="@Url.Action("AddConcert", "Concert")" class="btn btn-default">Add concert</a>
        </div>
    }

    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Submit
                </div>
                <div class="modal-body">
                    Are you sure you want to delete concert in <b><p style="display:inline" id="ConcertAddr"></p></b> ?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button data-url="@Url.Action("DeleteConcert", "Concert")" id="DeleteConfirmBtn" class="btn btn-success success">Submit</button>
                </div>
            </div>
        </div>
    </div>