@model MusicCenter.Common.ViewModels.User.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RegisterCss/css")

<script>

    function RegisterScope() {

        this.Init = function () {
            $('#avatar').change(this.UpdateUsersAvatar);
            $('#email').focusout(this.ValidateEmail);
        }

        this.UpdateUsersAvatar = function () {
            
            var input = $('#avatar')[0];
            var ext = input.files[0]['name'].substring(input.files[0]['name'].lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#userAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#userAvatar').attr('src', '/Content/Uploads/DefaultUserAv.jpg');
                $('#avatar').val("");
            }
        }

        this.ValidateEmail = function () {

            var email = $('#email').val();

            $.ajax({
                url: '@Url.Action("IsEmailValid", "Account")',
                type: "POST",
                data: {email: email},
                success: function (data) {
                    if (data == "False") 
                    {
                        $('#EmailControls').addClass("has-error");
                        $('#EmailUnique').text('@MusicCenter.Common.Resources.Global.EmailUnique');
                    }
                    else
                    {
                        $('#EmailControls').removeClass("has-error");
                        $('#EmailUnique').text("");
                    }
                }
            })
        }
    }

    $(document).ready((function() {
        var RegScope = new RegisterScope();
        RegScope.Init();
        
    }));

</script>

<div class="container text-center">
    <form action="@Url.Action("Register", "Account")" method="POST" style="display:inline-block;" id="register-form" novalidate="novalidate" enctype="multipart/form-data">
        <fieldset>
            <div id="legend">
                <legend class="">@MusicCenter.Common.Resources.Global.Register</legend>
            </div>
            <div class="control-group">
                <img src="~/Content/Uploads/DefaultUserAv.jpg" alt="..." class="img-thumbnail" style="display:block;margin-left:auto;margin-right:auto;" width="200" height="200" id="userAvatar">
                <br/>
                <span class="btn btn-primary btn-file">
                    @MusicCenter.Common.Resources.Global.Browse @Html.TextBoxFor(m => m.Avatar, new { type = "file", @id = "avatar"})
                </span>
            </div>
            <br />
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">@MusicCenter.Common.Resources.Global.Email</label>
                <div class="controls" id="EmailControls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email"})
                    <b>@Html.ValidationMessageFor(m => m.Email)</b>
                    <label class="control-label" id="EmailUnique"></label>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">@MusicCenter.Common.Resources.Global.Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                    <b>@Html.ValidationMessageFor(m => m.Password)</b>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">@MusicCenter.Common.Resources.Global.PasswordConfirm</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" , @id = "password_confirm"})
                    <b>@Html.ValidationMessageFor(m => m.PasswordConfirm)</b>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <br/>
                    <button id="registerBtn" type="submit" class="btn btn-success">@MusicCenter.Common.Resources.Global.Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
