@model MusicCenter.Common.ViewModels.User.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RegisterCss/css")

<script>

    function RegisterScope() {

        this.Init = function () {
            this.EnableOrDisableSubmitBtn();
            $('#avatar').change(this.UpdateUsersAvatar);
        }

        this.EnableOrDisableSubmitBtn = function () {

            $('#register-form input').on('keyup blur', function () {
                if ($('#register-form').valid()) {
                    $('#registerBtn').prop('disabled', false);
                } else {
                    $('#registerBtn').prop('disabled', 'disabled');
                }
            });
        }

        this.UpdateUsersAvatar = function () {
            
            var input = $('#avatar')[0];
            var ext = input.files[0]['name'].substring(input.files[0]['name'].lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#userAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#userAvatar').attr('src', '/Content/Uploads/DefaultUserAv.jpg');
                $('#avatar').val("");

            }
        }
    }

    $(document).ready((function() {
        var RegScope = new RegisterScope();
        RegScope.Init();
    }));

</script>

<div class="container text-center">
    <form action="@Url.Action("Register", "Account")" method="POST" style="display:inline-block;" id="register-form" novalidate="novalidate" enctype="multipart/form-data">
        <fieldset>
            <div id="legend">
                <legend class="">@MusicCenter.Common.Resources.Global.Register</legend>
            </div>
            <div class="control-group">
                <img src="~/Content/Uploads/DefaultUserAv.jpg" alt="..." class="img-thumbnail" style="display:block;margin-left:auto;margin-right:auto;" width="200" height="200" id="userAvatar">
                <br/>
                <span class="btn btn-primary btn-file">
                    @MusicCenter.Common.Resources.Global.Browse @Html.TextBoxFor(m => m.Avatar, new { type = "file", @id = "avatar"})
                </span>
            </div>
            <br />
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">@MusicCenter.Common.Resources.Global.Email</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email"})
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">@MusicCenter.Common.Resources.Global.Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">@MusicCenter.Common.Resources.Global.PasswordConfirm</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" , @id = "password_confirm"})
                    @Html.ValidationMessageFor(m => m.PasswordConfirm)
                    @Html.ValidationSummary();
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <br/>
                    <button id="registerBtn" type="submit" class="btn btn-success">@MusicCenter.Common.Resources.Global.Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
